# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea
.factorypath

# gradle
build
.gradle
libs/

# other
eclipse
run
logs/

# Files from Forge MDK
forge*changelog.txt

### VS Code ###
.vscode/

# Python workflow tests
__pycache__/
*.py[cod]
